<launch>

    <!-- these are the arguments you can pass this launch file, for example 
        paused:=true -->
    <arg name="paused" default="false" />
    <arg name="use_sim_time" default="false" />
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />

    <node name="listener" pkg="exemplo" type="inscrever" />
    <node name="talker" pkg="exemplo" type="publicar" />

</launch>
 
